# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# gradle/wrapper/gradle-wrapper.properties
.idea
.gradle
komap.iml
/komap-samples/src/main/kotlin/nice.fontaine/app/Tokens.kt
/komap-samples/out/
/komap-samples/.gradle/
/komap-samples/build/
/komap-core/out/
/komap-core/build/
/komap-core/.gradle/
/build
